################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rust store backend.csproj

/bin
/obj
/.vs