.body{
    background-color: hsl(250deg, 9%, 13%);
    min-width: 99vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

